.single__post h1 {
  font-size: 3rem;
}

@media (min-width: 640px){
  .single__post h1 {
    font-size: 5rem;
  }
}

.single__post h1 + span {
  font-size: 14px;
  line-height: 1.65;
  color: #6a6767;
  display: block;
  margin-bottom: 1.3rem;
}

.single__post header,
.single__post p, .single__post h2, .single__post h3 {
  margin-bottom: 1.5rem;
}

.single__post ol,
.single__post ul {
  margin: 0 0 1.45rem 1.45rem;
}

.single__post li {
  margin-bottom: 0.5rem;
}